html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    font-size: 18px;
    color: black;

}
body
{
    background: lightgrey;
}

.user
{
    margin-left: 43vw;
    margin-top: 5vw;
}
.userlabel
{
    margin-left: 2.2vw;
    height: auto;
    width: auto;
    justify-content: center;
    opacity: 100%;
    text-decoration: black;
}
.questions
{
    position: relative;
    align-items: center;
    display: flex;
    padding-left: 23.6vw;
    margin-top: 5vw;

}
.firstquest
{
    padding-right: 150px;
}
.secondquest
{
    padding-right: 150px;
}
p{
    margin-left: 1vw;
font-size: 15px;
}
.submit
{
    margin-left: 44vw;
    margin-top: 3vw;
    transition: 0.5s;
    border-radius: 20px;
    width: 140px;  
    height: 30px;
}
.submit:hover
{
    background-color: black;
    color: white;
}
